* {
    font-family: 'Edu SA Beginner', cursive;
font-family: 'Open Sans', sans-serif;
}

body{
    text-align: center;
    background-size: 500%;
    animation:moving 15s infinite;
  background-image:linear-gradient(50deg, #c23616,cyan,pink,lavender)
}  
@keyframes moving{
  0%{
      background-position: 0% 50%;
  }
  50%{
      background-position: 100% 50%;
  }
  100%{
      background-position: 0% 50%;
  }
}



h1 {
    margin: 20px;
}

h4 {
  color: gray;
  margin-left: 10px;
}

img {
    max-width: 150px;
    max-height: 150px;
    border-radius: 50px;
  
}

a {
    color: #2f3640;
    text-decoration: none;
}

main {
   padding-top: 0px;
}



li {
    list-style: none;
}

section,
header {
    padding: 10px 60px 20px 60px;
}

header {
    display: flex;
   
}

.hobby {
    top: 250px;
    left: 7000px;
}

.IG {
    size: 1;
}

.ExperienceAndCertifications {
    position: relative;
    
   
}
